{% load staticfiles %}

<html>
    <head>
        <title class="original_title">Chicken Vintage</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
  		<link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>

    </head>
    <body>
    	<div class="outer">
	    	<div class="main_container">
	    		<div class="header">
	    			<h1 class="title">Chicken Vintage</h1>
	    			<img class="front_logo" src="{% static 'img/front_logo.png' %}" width="400px" alt="chickenvintage">
	    			<img class="faceb_logo" src="{% static 'img/faceb_logo.png' %}" alt="facebook">
	    			<img class="insta_logo" src="{% static 'img/insta_logo.png' %}" alt="instagram" width="50px">
	    		</div>
	    	</div>
    	</div>
    
    	{% block content %}
		{% endblock %}
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    </body>
</html>